<h1>Cruddur</h1>
<h4><p>Welcome To Your Cruddur Secret Dashboard!</p></h4>

<div class="image-container">
      <!-- Image tag for the banner -->
      <%= image_tag('3Hermanos.png', alt: 'Tres Hermanos') %>
    </div>


